<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Curriculum-Mapper">

<select id="selectCurriculumByNo" parameterType="str" resultType="curriculum">
		select
		*
		from curriculum
		where curriculum_no=#{curriculum_no}
		order by curriculum_name
</select>



<sql id="search">
		<if test="searchType == 'i'.toString()">
			and curriculum_no like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'n'.toString()">
			and curriculum_name like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'in'.toString()">
			and (
			curriculum_no like like '%'||#{keyword}||'%'
			or
			curriculum_name like '%'||#{keyword}||'%'
			)
		</if>
	</sql>
	
<select id="selectSearchCurriculumList" resultType="curriculum">
		select
		*
		from curriculum
		where curriculum_no is not null
		<include refid="search" />
</select>

<select id="selectSearchCurriculumListCount" resultType="int">
		select
		count(*)
		from curriculum
		where curriculum_no is not null
		<include refid="search" />

</select>


	
<update id="insertCurriculum" parameterType="curriculum">
		insert into
		curriculum(curriculum_no,curriculum_name, curriculum_time, curriculum_certificate,curriculum_status,curriculum_introduce)
		values(#{curriculum_no},#{curriculum_name},#{curriculum_time},#{curriculum_certificate},'0',#{curriculum_introduce})
</update>

<update id="updateCurriculum" parameterType="curriculum">
	update curriculum
	set
	curriculum_name=#{curriculum_name},curriculum_time=#{curriculum_time},
	curriculum_certificate=#{curriculum_certificate},
	curriculum_introduce=#{curriculum_introduce}
	where curriculum_no=#{curriculum_no}
</update>

<update id="deleteCurriculum" parameterType="curriculum">
	update curriculum
	set
	curriculum_status='1'
	where curriculum_no=#{curriculum_no}
</update>


<select id="selectCurriculumNo" parameterType="int" resultType="str">
	select 'CURRICULUM'||LPAD(seq_class.nextval,4,'0')
	from dual
</select>


</mapper>