<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reply-Mapper">

	<select id="selectReplySeqNextValue" resultType="str">
	   select 'REPLY'||LPAD(seq_reply.nextval,4,'0')
	   from dual
	</select>
	
	<select id="selectReplyList" resultType="reply">
		select *
		from reply
		where post_no = #{post_no}
		order by reply_no asc
	</select>
	
	<select id="countReply" resultType="int">
		select count(post_no)
		from reply
		where post_no = #{post_no}
	</select>
	
	<update id="insertReply">
		insert into reply(reply_no, post_no, reply_content, reply_writer)
		values(#{reply_no}, #{post_no}, #{reply_content}, #{reply_writer})
	</update>
	
	<update id="updateReply">
		update reply
		set
		reply_no=#{reply_no},
		reply_content=#{reply_content},
		reply_mod_date=sysdate
		where reply_no = #{reply_no}
	</update>
	
	<update id="deleteReply">
		delete from reply
		where reply_no = #{reply_no}
	</update>
	
	<select id="getPostNo">
		select post_no
		from   reply
		where  post_no = #{post_no}
	</select>
</mapper>